@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Cuprum';
  src: url('../fonts/Cuprum-Regular.ttf');
}
@font-face {
  font-family: 'Merriweather-Regular';
  src: url('../fonts/Merriweather-Regular.ttf');
}
@font-face {
  font-family: 'Merriweather-Light';
  src: url('../fonts/Merriweather_Light.ttf');
}


.fixed {
  position: fixed;
}

.links, #chapterTitle{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.text {
  font-family: 'Merriweather-Regular', sans-serif;
  line-height: 27px;
  font-size: 16px;
  font-weight: 100;
  color: #363633;
}

.fill-height {
  height: 100%;
}

.noLeftGutter {
  padding-left: 0;
}
.noRightGutter {
  padding-right: 0;
}
