#homeImage {
  height: 300px;
  text-align: center;
  background-color: #57AACE;
  margin-bottom: 40px;
}
#homeImage img {
  height: 300px;
}
#homeSubtitle, #studiesAbstract {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
}
.spaceBetweenParagraphs {
  width: 100%;
  height: 120px;
  font-size: 60px;
  line-height: 120px;
  text-align: center;
  color: #57AACE;
}

.descriptions {
  font-size: 14px;
  line-height: 30px;
}
.studyDescription {
  /*margin-top: 10px;*/
  padding: 10px 20px;
  font-size: 13px;
}
.study{
  margin: 20px 0;
}

/*color footer: #33616D*/
