#homeImage {
  height: 300px;
  text-align: center;
  /*background-color: #57AACE;*/
  margin-bottom: 40px;
  position: relative;
  overflow-x: hidden;
}
#backHomeImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#frontHomeImage {
  position: absolute;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  top: 150px;
  z-index: 1;
}
#homeSubtitle, #studiesAbstract {
  font-family: 'Raleway';
  font-weight: 300;
  font-size: 20px;
  line-height: 40px;
}
.spaceBetweenParagraphs {
  width: 100%;
  height: 120px;
  font-size: 60px;
  line-height: 120px;
  text-align: center;
  color: #57AACE;
}

.descriptions {
  font-size: 14px;
  line-height: 30px;
}
.studyDescription {
  /*margin-top: 10px;*/
  padding: 10px 0px;
  font-size: 13px;
}
.study{
  margin: 20px 0;
}
.thumbnailStudy {
  position: relative;
}
.backStudies {
  width: 100%;
  height: 150px;
  object-fit: cover;
}
.frontStudies {
  z-index: 1;
  position: absolute;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  top: 75px;
}

/*color footer: #33616D*/
