/* general css */
body{
  font-family: 'Lato';
}
.no-padding {
  margin: 0 !important;
  padding: 0 !important;
}

.row {
  margin: 0 !important;
}

/* menu css */

#sidebar-wrapper-left .top {
  padding: 10px 15px;
}

#sidebar-wrapper-left .sidebar-nav {
  padding-left: 0;
  padding-top: 80px;
}

#sidebar-wrapper-left .sidebar-nav li {
  border-top: 1px solid #c5c5c5;
  list-style: none;
}

#sidebar-wrapper-left .sidebar-nav li:last-child {
  border-bottom: 1px solid #c5c5c5;
}

.navbar-border {
  background-color: black;
  height: 8px;
}

.navbar-top {
  margin-bottom: 25px !important;
}

.navbar-top .menu {
  display: none;
  padding-left: 10px;
}

.navbar-header .logo {
  padding-right: 10px;
}

/* view1 css */

.view-page .row:first-child {

}

.view-page .menu-lateral {
  padding-top: 20px;
}

.view-page .menu-lateral li {
  border-top: 1px solid #c5c5c5;
  list-style: none;
  padding: 5px 0;
}
.view-page .menu-lateral li:last-child {
  border-bottom: 1px solid #c5c5c5;
}

.view-page .chapter-number {
  padding-top: 10px;
}

.view-page .chapter-title {
  padding-top: 20px;
}

.view-page .chapter-content {
  padding-top: 20px;
}

.view-page ul {
  margin: 0;
  padding: 10px;
  text-align:center;
  
}

.view-page ul li {
  padding: 20px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
}

.view-page ul li.active{
  border-bottom: 1px solid #d5d5d5;
}

.view-page section {
  height: 100%;
}

/* Sidebarre menu */

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 0;
}

#sidebar-wrapper-left {
  background: #ededed;
  height: 100%;
  left: 250px;
  margin-left: -250px;
  position: fixed;
  overflow-y: auto;
  width: 250px;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper-left {
  width: 0;
}

#page-content-wrapper {
  padding: 20px;
  padding-left: 250px !important;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #page-content-wrapper {
  margin-right: 0;
  padding-left: 0 !important;
  position: relative;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* Sidebar Styles */

.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  top: 0;
  width: 250px;  
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;  
}

.sidebar-nav li.active a {
  color: #181818;
}

.sidebar-nav li a:hover {
  background: rgba(255,255,255,0.2);
  color: #fff;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav li ul {
  display: none;
}

.sidebar-nav > .sidebar-brand {
  font-size: 18px;
  height: 65px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  background: none;
  color: #fff;
}

#sidebar-wrapper-right {
  background: black;
  color: white;
  display: none;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  padding: 15px;
  position: fixed;
  right: 250px;
  width: 250px;
  z-index: 1000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#sidebar-wrapper-right .share li {
  display: inline-block;
  list-style: none;
}

/* content space */

.content {
  
}

@media (max-width: 1024px) {
  .content {
    padding-right: 100px !important;
  }
}



.page {
  margin: 100px 100px;
}




/*

  ZEPPELIN - the magic directive

       _..--=--..._
    .-'            '-.  .-.
   /.'              '.\/  /
  |=-                -=| (
   \'.              .'/\  \
    '-.,_____ _____.-'  '-'
jgs       [_____]=8


*/
#logo {
  position: absolute;
  right: 120px;
  top: 30px;
}

.zeppelin {
  margin: 20px;
  position: relative;
  overflow: hidden;
  background: #f5f5f5;
}

.zeppelin .fill-height{
  height: 100%;
}

.zeppelin .playground {
  height: 100%;
}
.zeppelin section {
  height: 100%;
  overflow-y: auto;
}

.zeppelin section>div {
  margin: 60px 20px 40px 0;
}

.zeppelin .arrow.previous, .zeppelin .arrow.next {
  background: #eeeeee;
  text-align: center;
}

.zeppelin .arrows {
  z-index: 2;
  position: absolute;
}

.zeppelin .arrows .arrow {
  opacity: .2;
  transition: opacity .35s ease-in-out;
}

.zeppelin .arrows .arrow.active {
  opacity: 1;
}

.zeppelin .slider {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: top .35s ease-in-out;
}

.zeppelin .image img {
  width: 100%;
}