/* general css */

.no-padding {
  margin: 0 !important;
  padding: 0 !important;
}

.row {
  margin: 0 !important;
}

/* menu css */

#sidebar-wrapper .logo {
  padding: 15px;
}

#sidebar-wrapper .sidebar-nav {
  padding-left: 0;
  padding-top: 100px;
}

#sidebar-wrapper .sidebar-nav li {
  border-top: 1px solid #c5c5c5;
  list-style: none;
  padding-left: 10px;
}

#sidebar-wrapper .sidebar-nav li:last-child {
  border-bottom: 1px solid #c5c5c5;
}

.navbar-border {
  background-color: black;
  height: 8px;
}

.navbar-top {
  margin-bottom: 25px !important;
}

.navbar-header .menu {
  padding-left: 10px;
}

.navbar-header .logo {
  padding-right: 10px;
}

/* view1 css */

.view-page .row:first-child {
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: 100px;
}

.view-page .menu-lateral {
  padding-top: 20px;
}

.view-page .menu-lateral li {
  border-top: 1px solid #c5c5c5;
  list-style: none;
  padding: 5px 0;
}
.view-page .menu-lateral li:last-child {
  border-bottom: 1px solid #c5c5c5;
}

.view-page .chapter-number {
  padding-top: 10px;
}

.view-page .chapter-title {
  padding-top: 20px;
}

.view-page .chapter-content {
  padding-top: 20px;
}

/* Sidebarre menu */

/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 0;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #ededed;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 0;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
    padding-left: 250px !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
    padding-left: 0 !important;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Sidebar Styles */

.sidebar-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  width: 250px;  
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;  
}

.sidebar-nav li a:hover {
  background: rgba(255,255,255,0.2);
  color: #fff;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}