.narrativeContainer {
  font-size: 15px;
}

.slider {
  padding-right: 20px;
  padding-left: 5px;
}

.overflow {
  overflow-y: auto;
}

.vizLegendButton, .vizLegendButton:active, .vizLegendButton:focus, .vizLegendButton:active:focus {
  padding: 0;
  border: none;
  outline: none;
  position: absolute;
  background: none;
  height: 20px;
  bottom: -22px;
  left: 50%;
  z-index: 2;
}
.vizLegendZone {
  position: absolute;
  width: 100%;
  bottom: -10px;
}
#legend-left {
  position: absolute;
  bottom: 50px;
  left: 30px;
}
#legend-right {
  position: absolute;
  bottom: 50px;
  right: 30px;
}
.topline {
  background-color: rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid #33616D;
  height: 5px;
  margin-left: 30px;
  margin-right: 30px;
}
.vizLegendText {
  background-color: rgba(255, 255, 255, 0.77);
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  padding-right: 30px;
}
.centerInside {
  width: 49%;
  display: inline-block;
  text-align: center;
}
.buttonFocus {
  background: #33616D;
  width: 150px;
  color: white;
  border: none;
  font-family: 'Raleway';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 9px;
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}
