/*
 * Fixed height menu
 */
#topMenu {
  position: fixed;
  height: 147px;
  background: white;
  z-index: 1;
  width: 100%;
}

#logoContainer img {
  position: absolute;
  top: 10px;
  left: 10px;
}

#linksContainer ul {
  margin-top: 30px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
  font-size: 12px;
  letter-spacing: 1px;
}

#chapterTitle {
  position: relative;
  vertical-align: bottom;
  height: 115px;
}
#chapterTitle h1{
  font-size: 35px;
  margin-bottom: 0px;
}

#chapterDescription {
  position: relative;
  height: 115px;
  font-size: 17px;
}

/*2nd category: Small description, narrative text*/

.hide {
  visibility: hidden;
}

.alignDown {
  position: absolute;
  bottom: 0;
  margin: auto;
}
