/*
 * Fixed height menu
 */
#topMenu {
  position: fixed;
  height: 150px;
  background: white;
  z-index: 1;
  width: 100%;
}

#logoContainer img {
  position: absolute;
  top: 10px;
  left: 10px;
}

#linksContainer ul {
  margin-top: 40px;
  margin-bottom: 0px;
  padding-left: 0px;
  list-style-type: none;
  font-size: 12px;
  letter-spacing: 1px;
}

#chapterTitle {
  position: relative;
  vertical-align: bottom;
  height: 115px;
}
#chapterTitle h1{
  font-size: 35px;
  margin-bottom: 0px;
}

#chapterDescription {
  position: relative;
  height: 115px;
  font-size: 17px;
}

.hide {
  visibility: hidden;
}

.alignDown {
  position: absolute;
  bottom: 0;
  margin: auto;
}

.changeSLbutton {
  display: inline;
  position: relative;
  top: 50px;
  stroke: #ccc;
  fill: #ccc;
}
.changeSLbutton:not(.inactive):hover {
  stroke: black;
  fill: black;
}

.changeSLleft {
  float: left;
}
.changeSLright {
  float: right;
}
