.studyLink {
  font-weight: bold;
}
.navbar {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  height: 60px;
  border-bottom: 2px solid #57AACE;
}

/*Allows the navbar to be height enough*/
nav .navbar-header a, nav .navbar-nav > li > a {
    line-height: 60px;
    height: 60px;
    padding-top: 0;
}
/*Put the log in the left part's center*/
.navbar-header a {
  padding-left: 60px;
  font-size: 22px;
  font-weight: 400;
}
/*Keep the sections to the right*/
#navBarRightPart {
  text-transform: uppercase;
  float: right;
  right: 50px;
}

/*Dropdown on hover*/
@media (min-width: 979px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
}
/*background for dropdowned elements*/
.studyLink > a:hover {
  background: #CEE2F2 !important;
}

li.active > a{
  color: #57AACE !important;
  background-color: transparent !important;
}
