/*********************************************************************
 *************************** Common
 *********************************************************************/
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
  stroke-width: 1;
}
rect {
  shape-rendering: crispEdges;
}
.invisible {
  visibility: hidden;
  pointer-events: all;
}


/*********************************************************************
 *************************** StackedChart
 *********************************************************************/
.LA {
  fill: #8C806A;
}
.CA {
  fill: #5B513F;
}
.CLA {
  fill: #AA8F70;
}
.RE {
  fill: #EAB473;
}
.roleLegend {
  font-size: 11px;
}

/*********************************************************************
 *************************** Bricks
 *********************************************************************/
#vizTitleContainer {
  width: 100%;
  text-align: center;
}
#downloadDataButton, #vizTitleContainer, #titleCountry {
  position: absolute;
}
#titleCountry {
  border: none;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px 2px 2px 10px;
  background: transparent
              url('../media/bricks-partByChapters/expand22.png')
              no-repeat left center;
  outline: none;
  z-index: 1;
}
.participationTotalARbar{
  fill: #9B9490;
}
.participationCountryARbar {
  fill: #4F4743;
}

.totalWG1{
  fill: #F5ACAC;
}
.totalWG2 {
  fill: #A5BADA;
}
.totalWG3 {
  fill: #9ED099;
}

.phantomWG1{
  fill: #F4E7E7;
}
.phantomWG2 {
  fill: #EDF1F5;
}
.phantomWG3 {
  fill: #E2F4DF;
}

.partialWG1 {
  fill: #9B2222;
}
.partialWG2 {
  fill: #214881;
}
.partialWG3 {
  fill: #1E9016;
}

.nbOnDarkBar {
  fill: white;
}
/**
 * Tooltips
 */
#bricksTooltipText {
  pointer-events: none;
  z-index: 2;
}

#bricksTooltipText{
  background: #fff3e4;
  font-size: 12px;
}

/*********************************************************************
 *************************** Powerlaw histogram
 *********************************************************************/
.powerLawHisto .axis text {
  font: 0px sans-serif;
}
.powerLawHisto rect {
  fill: #8B7866;
}
.powerLawHisto text, .powerLawHisto line {
  fill: #665F5E;
  font: 13px sans-serif;
}

.powerLawHisto.title {
  font: 16px sans-serif;
  font-weight: 600;
  fill: #665F5E;
}

#powerLawTooltip rect, #powerLawTooltip path, .powerLawHisto .hoverBar{
  fill: #453c32;
}

#powerLawTooltipText text{
  fill: white;
  font-weight: bold;
  alignment-baseline: central;
}
