/*********************************************************************
 *************************** Common
 *********************************************************************/
.axis path,
.axis line {
  fill: none;
  stroke: #33616D;
  shape-rendering: crispEdges;
  stroke-width: 1;
}
rect {
  shape-rendering: crispEdges;
}
select {
  position: relative;
  font-size: 12px;
  width: 30px;
  text-transform: uppercase;
  font-weight: 700;
  color: #33616D;
  padding-top: 2px;
  padding-bottom: 2px;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 0;
  z-index: 2 !important;
}
.selectIcon {
  position: relative;
  left: -18px;
  z-index: 0 !important;
}
.invisible {
  visibility: hidden;
  pointer-events: all;
}

.imgScaled {
  width: 80%;
  margin-left: 10%;
}
.imgNotScrollable {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  height: auto;
  bottom: 30px;
  margin-bottom: 30px;
}

.flex {
  display: flex;
  flex-direction: column;
}
.fillComplement {
  flex: 3;
  display: flex;
  flex-direction: column;
}
.fillComplement > canvas {
  width: auto;
  display: block;
  margin: auto;
  height: 100%;
}

/*********************************************************************
 *************************** StackedChart
 *********************************************************************/
.CA {
  fill: #3c95b5;
}
.CLA {
  fill: #3c87a3;
}
.LA {
  fill: #287183;
}
.RE {
  fill: #2f5b66;
}
.tick text, .roleLegend {
  font: 11px 'Raleway';
  fill: #33616D;
  font-weight: 700;
  letter-spacing: 1px;
}
.barTitle {
  font: 14px 'Raleway';
  fill: #33616D;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/*********************************************************************
 *************************** Bricks
 *********************************************************************/
#vizTitleContainer {
  width: 100%;
  text-align: center;
}
#downloadDataButton, #vizTitleContainer, #titleCountry {
  position: absolute;
}
#titleCountry {
  border: none;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 2px 2px 2px 10px;
  background: transparent
              url('../media/bricks-partByChapters/expand22.png')
              no-repeat left center;
  outline: none;
  z-index: 1;
}
.participationTotalARbar{
  fill: #9B9490;
}
.participationCountryARbar {
  fill: #4F4743;
}

.totalWG1{
  fill: #F5ACAC;
}
.totalWG2 {
  fill: #A5BADA;
}
.totalWG3 {
  fill: #9ED099;
}

.phantomWG1{
  fill: #F4E7E7;
}
.phantomWG2 {
  fill: #EDF1F5;
}
.phantomWG3 {
  fill: #E2F4DF;
}

.partialWG1 {
  fill: #9B2222;
}
.partialWG2 {
  fill: #214881;
}
.partialWG3 {
  fill: #1E9016;
}

.nbOnDarkBar {
  fill: white;
}
/**
 * Tooltips
 */
#bricksTooltipText {
  pointer-events: none;
  z-index: 2;
}

#bricksTooltipText{
  background: #fff3e4;
  font-size: 12px;
}

/*********************************************************************
 *************************** Powerlaw histogram
 *********************************************************************/
.powerLawHisto .axis text {
  font: 0px 'Raleway';
}
.powerLawHisto #yAxis text {
  font: 11px 'Raleway';
}
.powerLawHisto rect {
  fill: #33616D;
}
.powerLawHisto text, .powerLawHisto line {
  fill: #33616D;
  font: 11px 'Raleway';
  letter-spacing: 1px;
  text-transform: uppercase;
}

.powerLawHisto .title {
  font-size: 14px;
  letter-spacing: 1px;
  fill: #33616D;
}
.powerLawHisto #xAxisLegend, .powerLawHisto #yAxisLegend {
  font-size: 11px;
  /*font-family: 'Merriweather-Regular';*/
  letter-spacing: 1px;
  font-weight: 700;
  fill: #33616D;
}

#powerLawTooltip rect, #powerLawTooltip path, .powerLawHisto .hoverBar{
  fill: rgba(51, 97, 109, 0.8);
}

#powerLawTooltipText text{
  fill: white;
  font-size: 11px;
  text-transform: none;
  alignment-baseline: central;
}

/*********************************************************************
 *************************** Powerlaw histogram
 *********************************************************************/
.tooltipText, .histoBridgeTooltipContainer #arrowTooltip{
  pointer-events: none;
  z-index: 2;
}
.tooltipText {
  background: rgba(51, 97, 109, 0.8);
  color: white;
}
.tooltipText .hoverBar rect{
  fill: rgba(51, 97, 109, 0.8);
}

/*********************************************************************
 *************************** Venn Diagram
 *********************************************************************/
.venntooltip {
  position: absolute;
  text-align: center;
  background: rgba(91, 94, 93, 0.8);
  color: white;
  font-size: 11px;
  border: 0;
}

/*********************************************************************
 *************************** Sigma - IPCC
 *********************************************************************/
.pointable{
  cursor: pointer;
}
.sigmaControl, .sigmaControl:hover {
  color: #33616D;
}
.tooltip > .tooltip-inner {
  background-color: #33616D;
  font-family: 'Raleway';
  text-transform: uppercase;
  font-size: 10px;
  letter-spacing: 1px;
  font-weight: 700;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #33616D;
}
/*********************************************************************
 *************************** Sigma - UFCCC
 *********************************************************************/
.enbgraph {
    height: 100%;
    position: absolute;
    width: 100%;
}
/*********************************************************************
 *************************** PDF
 *********************************************************************/
#prevPDF, #nextPDF {
  background: #33616D;
  color: white;
  border: none;
  margin: 0 2px;
  font-family: 'Raleway';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 8px;
  font-weight: 700;
}
/*********************************************************************
 *************************** Line Chart
 *********************************************************************/
.vizline {
  fill: none;
}
