
 <div class="row fill-height">
    <div class="arrow previous">previous</div>
    <div class="arrow next">next</div>

    <div class="col-sm-4 fill-height">
      
      <section ng-repeat="section in sections">
        <div ng-bind-html="section.html"></div>
        
      </section>
    
    </div>
    <div class="col-sm-8 fill-height">
      <div class="playground" ng-switch="section.directive">
 <donut></donut>
 
          
          <div ng-switch-when="text" ng-bind-html="section.html"></div>
          
          <div ng-switch-when="donut">
            <donut></donut>
          </div>
          
          <div ng-switch-default> ... {{section.directive}} </div>
        </div>

    </div>
  </div>
