
 <div class="row fill-height">
    <div class="arrows">
      {{index + 1}} of {{sections.length}} {{h}}
      <div class="row">
        <div class="col-sm-6">
          <div class="arrow" ng-class="index > 0?'active':''" ng-click="previous()">previous
          </div>
        </div>
        <div class="col-sm-6">
          <div class="arrow" ng-class="index + 1 < sections.length?'active':''" ng-click="next()">next 
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 fill-height">
      
      
      <div class="slider">
        <section ng-repeat="section in sections">
          <div ng-bind-html= "section.html|unsafeHtml"></div>
        </section>
      </div>
    
    </div>
    <div class="col-sm-8 fill-height">
      <div class="playground" ng-switch="section.directive">
        <div class="image" ng-switch-when="image">
          <img ng-repeat="src in section.datasrc" ng-src="{{src}}">
        </div>
        <div ng-switch-when="text" ng-bind-html="section.html"></div>
        <div ng-switch-when="donut">
          <donut></donut>
        </div>
        <div ng-switch-when="enbgraph">
          <div enbgraph gexf="section.datasrc[0]" csv="section.datasrc[1]" height="h"></div>
        </div>
        <div ng-switch-default> ... {{section.directive}} </div>
      </div>

    </div>
  </div>
