<!-- section navigation bar -->
  <div id="subchapterMenu">
    <span class="negativeMargin paragraphSign">&#167;</span>
    <div class="subchapterContainer {{entry.slug === tab ? 'active': ''}}"
          ng-repeat="entry in content.menu">
      <div class="{{entry.slug !== tab ? 'hide' : ''}}">
        <span ng-repeat="part in $parent.content.sections" class="chapterNumbers">
          <input type="radio"
                 ng-model="$parent.$parent.index" value="{{$index}}"
                 ng-click="elementClicked('radio', {{$index}})"><label for="option"><span><span></span></span>{{$index+1}}</label>
        </span>
      </div>
    </div>
  </div>
