<div class="col-sm-4 col-md-4 col-lg-4" id="chapterTitle">
  <h1>{{content.title}}</h1>
</div>

<div class="col-sm-5 col-md-5 col-lg-5" id="chapterDescription">
  <p ng-bind-html="content.subtitle"></p>
</div>

<div class="col-sm-3 col-md-3 col-lg-3" id="narrativesLinks">
  <div id="logoContainer">
    <img class="logo" src="images/logo.png" alt="Logo">
  </div>
  <div id="linksContainer">
    <ul class="sidebar-nav">
        <li>
            <a href="#/">home</a>
        </li>
        <!-- Menus (home, data, IPCC, scientific litterature...) -->
        <li class="{{route.slug === page.slug ? 'active' : ''}}" ng-repeat="route in routes">
          <a ng-href="#/{{route.slug}}">{{route.slug}}</a>
        </li>
    </ul>
  </div>

</div>
