<div class="col-sm-2 col-md-2 col-lg-3" id="narrativesLinks">
  <div id="logoContainer">
    <img class="logo" src="images/logo.png" width="60" height="30" alt="Logo">
  </div>
  <div id="linksContainer" class="links">
    <ul class="sidebar-nav">
        <li>
            <a href="#/">home</a>
        </li>
        <!-- Menus (home, data, IPCC, scientific litterature...) -->
        <li class="{{route.slug === page.slug ? 'active' : ''}}" ng-repeat="route in routes">
          <a ng-href="#/{{route.slug}}">{{route.slug}}</a>
        </li>
    </ul>
  </div>
</div>
<div class="col-sm-10 col-md-10 col-lg-9 noLeftGutter">
  <div class="row">
    <div class="col-sm-1 col-md-1 col-lg-1 changeSLbutton changeSLleft {{$parent.currentSLindex === 0 ? 'inactive': ''}}" ng-mouseover="checkSLIndex()" ng-click="previousSL()">
      <svg width="32" height="32" viewBox="0 0 64 64">
        <path id="arrow-left-1" d="M46.077 55.738c0.858 0.867 0.858 2.266 0 3.133s-2.243 0.867-3.101 0l-25.056-25.302c-0.858-0.867-0.858-2.269 0-3.133l25.056-25.306c0.858-0.867 2.243-0.867 3.101 0s0.858 2.266 0 3.133l-22.848 23.738 22.848 23.738z"></path>
      </svg>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5" id="chapterTitle">
      <span class="alignDown"><h1>{{content.title}}</h1></span>
    </div>
    <div class="col-sm-5 col-md-5 col-lg-5 text" id="chapterDescription">
      <p class="alignDown" ng-bind-html="content.subtitle"></p>
    </div>
    <div class="col-sm-1 col-md-1 col-lg-1 changeSLbutton changeSLright {{$parent.currentSLindex === content.menu.length - 1 ? 'inactive': ''}}" ng-mouseover="checkSLIndex()" ng-click="nextSL()">
      <svg width="32" height="32" viewBox="0 0 64 64">
        <path id="arrow-right-1" d="M17.919 55.738c-0.858 0.867-0.858 2.266 0 3.133s2.243 0.867 3.101 0l25.056-25.302c0.858-0.867 0.858-2.269 0-3.133l-25.056-25.306c-0.858-0.867-2.243-0.867-3.101 0s-0.858 2.266 0 3.133l22.848 23.738-22.848 23.738z"></path>
      </svg>
    </div>
  </div>
</div>

