<div class="fill-height">
  <div class="col-sm-5 col-md-5 col-lg-4  fill-height slider-wrapper noLeftGutter">
    <div class="slider fill-height overflow noLeftGutter">
      <section ng-repeat="section in sections" id="{{'chapter_' + $index}}">
        <h3 class="chapterNumbers">{{section.title}}</h3>
        <div sectiontoinsert sectionhtml="section.html"></div>
        <br/>
      </section>
    </div>
  </div>
  <div class="col-sm-7 col-md-7 col-lg-8 fill-height noRightGutter noLeftGutter">
    <div class="fill-height" ng-switch="sections[index].directive">
      <!--  =================================================================-->
      <!--  ============================== IPCC ============================ -->
      <!--  =================================================================-->

      <!-- ============================== Intro ============================ -->
      <div class="fill-height scrollable" ng-switch-when="ipccIntro1">
        <div class="fullWidth" ratiovertionhori="755/1020" image>
          <a target="_blank" ng-href="images/ipccIntro1.png"><img class="imgNotScrollable imgScaled" ng-src="images/ipccIntro1.png"></a>
        </div>
        <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
        <div collapse="isCollapsed" class="vizLegendZone">
          <div class="topline"></div>
          <div class="vizLegendText">
            <h4>Organisation of the IPCC</h4>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="ipccIntro3">
        <div id="pdf" class="fill-height" url="media/document_fusionne.pdf" ratio="1.4" pdf>
          <canvas id="containerPdfConclusion"></canvas>
          <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
          <div collapse="isCollapsed" class="vizLegendZone">
            <div class="topline"></div>
            <div class="vizLegendText">
              <h4>AR1 WG2 Chapter 2 Header (1990) & AR1 WG1 Author Appendix (1990)<br/><button id="prevPDF">Previous</button><button id="nextPDF">Next</button>&nbsp; &nbsp;
            <span>Page: <span id="page_numPDF"></span> / <span id="page_countPDF"></span></span></h4>
            </div>
          </div>
        </div>
      </div>
      <!-- =================== Coordination & Controversy ================== -->
      <div class="fill-height scrollable" ng-switch-when="pdfWG">
        <img class="imgScaled" ng-src="images/pdfWG.jpg">
        <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
        <div collapse="isCollapsed" class="vizLegendZone">
          <div class="topline"></div>
          <div class="vizLegendText">
            <h4>Report of the first session of the WMO/UNEP INTERGOVERNMENTAL PANEL ON CLIMATE CHANGE (IPCC)<br/>Geneva, 9-11 November 1988</h4>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="participationRatesHistoTotal">
        <div id="containerparticipationRatesHistoTotal" class="fill-height" participationrateshistototal>
          <div id="containerTotal"></div>
          <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
          <div collapse="isCollapsed" class="vizLegendZone">
            <div class="topline"></div>
            <div class="vizLegendText">
              <h4>Distribution of author participations in the IPCC</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="fill-height scrollable" ng-switch-when="pdfOrga">
        <div class="fullWidth" ratiovertionhori="456/650" image>
          <img class="imgNotScrollable imgScaled" ng-src="images/pdfOrga.jpg">
        </div>
        <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
        <div collapse="isCollapsed" class="vizLegendZone">
          <div class="topline"></div>
          <div class="vizLegendText">
            <h4>Diagram of IPCC AR1 WG1 report structure and relations with WGIII and WGII<br/>From AR1 WGI Report Forward, 1990.</h4>
          </div>
        </div>
      </div>
      <div class="fill-height fill-width" ng-switch-when="guardianArticle">
        <iframe class="fill-height fill-width"src="http://www.theguardian.com/environment/2010/jan/20/himalayan-glaciers-melt-claims-false-ipcc"></iframe>
      </div>
      <div class="fill-height scrollable flex" ng-switch-when="ipccwgvenn">
        <div id="venn" class="fill-height" ipccwgvenn path="$parent.$parent.section.datasrc[0]"></div>
        <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
        <div collapse="isCollapsed" class="vizLegendZone">
          <div class="topline"></div>
          <div class="vizLegendText">
            <h4>Distribution of IPCC authors among the 3 WGs - all ARs aggregated</h4>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="participationRatesHisto">
        <div id="containerparticipationRatesHisto" class="flex fill-height" participationrateshisto>
          <div class="fillComplement">
            <div id="containerNonBridge"></div>
            <div id="containerBridge"></div>
          </div>
          <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
          <div collapse="isCollapsed" class="vizLegendZone">
            <div class="topline"></div>
            <div class="vizLegendText">
              <h4>Comparison of distribution participations between bridge and non-bridge authors in the IPCC</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="roleDistribStacked">
        <div id="containerroledistribstacked" class="fill-height" roledistribstacked>
          <div id="containerStackedBars" class="flex fill-height">
            <div id="svgContainer" class="fillComplement"></div>
            <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
            <div collapse="isCollapsed" class="vizLegendZone">
              <div class="topline"></div>
              <div class="vizLegendText">
                <h4>Repartion roles in the IPCC by author type</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="partCountriesBridgeNonBridge">
        <div id="containerpartcountriesbridgenonbridge" class="fill-height" partcountriesbridgenonbridge>
          <div id="containerPartCountriesBridgeNonBridge">
            <div id="containerNonBridge"></div>
            <div id="containerBridge"></div>
            <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
            <div collapse="isCollapsed" class="vizLegendZone">
              <div class="topline"></div>
              <div class="vizLegendText">
                <h4>Comparison of distribution of country participations in the IPCC by author type</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="gexfBridges">
        <div id="gexfBridges" index="index" class="fill-height" gexfarthree>
          <div id="gexfBridges" class="fill-height flex">
            <div id="sigma-container" class="fillComplement"></div>
            <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
            <div class="sigma-tools">
              <div class="btn-group-vertical">
                <button
                  type="button"
                  id="recenterButton"
                  class="btn btn-link btn-xs sigmaControl"
                  tooltip-placement="right"
                  tooltip="Recenter"
                >
                  <span class="glyphicon glyphicon-record"></span>
                </button>
                <button
                  type="button"
                  id="zoomButton"
                  class="btn btn-link btn-xs sigmaControl"
                  tooltip-placement="right"
                  tooltip="Zoom"
                >
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button
                  type="button"
                  id="unzoomButton"
                  class="btn btn-link btn-xs sigmaControl"
                  ng-click="sigmaUnzoom()"
                  tooltip-placement="right"
                  tooltip="Dezoom"
                >
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
              </div>
            </div>
            <div collapse="isCollapsed" class="vizLegendZone">
              <img ng-src="images/legend-left.png" id="legend-left">
              <img ng-src="images/legend-right.png" id="legend-right">
              <div class="topline"></div>
              <div class="vizLegendText">
                <h4 id="vizTitle">Bridge authors in AR
              <select id="currentAR" class="pointable">
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3' selected>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
              </select><i class="fa fa-chevron-down selectIcon"></i></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="pdfConclusion">
        <div id="pdf" class="fill-height" url="media/pdfConclusion.pdf" ratio="0.7" pdf>
          <canvas id="containerPdfConclusion"></canvas>
          <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
          <div collapse="isCollapsed" class="vizLegendZone">
            <div class="topline"></div>
            <div class="vizLegendText">
              <h4>Presentation by Jean-Pascal van Ypersele at IPCC Plenary Session 2010<br/><button id="prevPDF">Previous</button><button id="nextPDF">Next</button>&nbsp; &nbsp;
            <span>Page: <span id="page_numPDF"></span> / <span id="page_countPDF"></span></span></h4>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================ Diversity ========================== -->
      <div class="fill-height" ng-switch-when="worldmapDiversity">
        <iframe width='100%' height='100%' frameborder='0' src='https://audreybaneyx.cartodb.com/viz/0ec34b32-24b9-11e5-9a86-0e853d047bba/embed_map' allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
      </div>
      <div class="fill-height" ng-switch-when="backToTheOECD">
        <div id="containerpartcountries9010" class="fill-height" partcountriesninetypercent>
          <div id="containerPartCountries9010">
            <div id="container"></div>
            <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
            <div collapse="isCollapsed" class="vizLegendZone">
              <div class="topline"></div>
              <div class="vizLegendText">
                <h4>Distribution of author participation in IPCC by country<br/> 24 countries count for 90% of participations / 93 countries make up the other 10%</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="politicalLegitimacy">
        <div id="pdf" class="fill-height" url="media/1990_Special Committee on Diversity Report.pdf" ratio="1.3" pdf>
          <canvas id="containerPdfConclusion"></canvas>
          <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
          <div collapse="isCollapsed" class="vizLegendZone">
            <div class="topline"></div>
            <div class="vizLegendText">
              <h4>Summary text from Special Committee on Participation on Developing Countries<br/>Report of the 3rd session of the IPCC - 1990<br/><button id="prevPDF">Previous</button><button id="nextPDF">Next</button>&nbsp; &nbsp;
            <span>Page: <span id="page_numPDF"></span> / <span id="page_countPDF"></span></span></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="diversityAcrossAR">
        <div id="containerdiversityacrossar" class="fill-height" diversityacrossar>
          <div id="svgContainerLeft"></div>
          <div id="svgContainerRight"></div>
          <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
          <div collapse="isCollapsed" class="vizLegendZone">
            <div class="topline"></div>
            <div class="vizLegendText">
              <h4>Participation across ARs by World Meteorological Organization Country Groupings</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="diversityBetweenWGs">
        <div id="containerdiversitybetweenwgs" class="fill-height" diversitybetweenwgs>
          <div id="svgContainerLeft"></div>
          <div id="svgContainerRight"></div>
          <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
          <div collapse="isCollapsed" class="vizLegendZone">
            <div class="topline"></div>
            <div class="vizLegendText">
              <h4>Participation across Working Groups by World Meteorological Organization Country Groupings</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="evolutionOfRoles">
        <div id="containerroleevolutiondiversity" class="fill-height" roleevolutiondiversity>
          <div id="containerRolesEvolutionDiversity">
            <div id="container"></div>
            <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
            <div collapse="isCollapsed" class="vizLegendZone">
              <div class="topline"></div>
              <div class="vizLegendText">
                <h4>Changes in Proportions of Roles across ARs</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="diversityAcrossRoles">
        <div id="containerdiversityacrossroles" class="fill-height" diversityacrossroles>
          <div id="containerDiversityAcrossRoles">
            <div id="visualisation1"></div>
            <div id="visualisation2"></div>
            <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
            <div collapse="isCollapsed" class="vizLegendZone">
              <div class="topline"></div>
              <div class="vizLegendText">
                <h4>Distribution of Roles between WMO Country Groupings across ARs</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="participationByChaptersWMO">
        <div id="containerBricks" class="fill-height" participationbychapterswmo>
          <div id="bricksSvgContainer"></div>
          <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
          <div collapse="isCollapsed" class="vizLegendZone">
            <div class="topline"></div>
            <div class="vizLegendText">
              <h4 id="vizTitleContainer">WMO Country Groupings Participation by Chapter<br/><select name="regionSelector" id="titleRegion"></select><i class="fa fa-chevron-down selectIcon"></i></h4>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================= France ============================ -->
      <div class="fill-height scrollable" ng-switch-when="franceIntroImage">
        <div class="fullWidth" ratiovertionhori="340/510" image>
          <img class="imgScaled imgNotScrollable" ng-src="images/elysee-giec.png">
        </div>
        <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
        <div collapse="isCollapsed" class="vizLegendZone">
          <div class="topline"></div>
          <div class="vizLegendText">
            <h4>The IPCC president in France</h4>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="stackedWGsByAR">
        <div id="containerStackedWGsByAR" class="fill-height" stackedwgsbyar>
          <div id="svgContainer"></div>
          <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
          <div collapse="isCollapsed" class="vizLegendZone">
            <div class="topline"></div>
            <div class="vizLegendText">
              <h4 id="vizTitleContainer">Proportion of Author Participations in the WGs - <select name="countrySelector" id="titleCountry"></select><i class="fa fa-chevron-down selectIcon"></i></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="fill-height fill-width" ng-switch-when="senatSpeech">
        <iframe class="fill-height fill-width" src="http://www.senat.fr/seances/s200004/s20000406/s20000406_mono.html"></iframe>
      </div>
      <div class="fill-height" ng-switch-when="institutionalImplication">
        <div id="gexfInstitutions" index="index" class="fill-height" gexfinstitutions>
          <div id="gexfInstitutions" class="fill-height flex">
            <div id="sigma-container" class="fillComplement"></div>
            <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
            <div class="sigma-tools">
              <div class="btn-group-vertical">
                <button
                  type="button"
                  id="recenterButton"
                  class="btn btn-link btn-xs sigmaControl"
                  tooltip-placement="right"
                  tooltip="Recenter"
                >
                  <span class="glyphicon glyphicon-record"></span>
                </button>
                <button
                  type="button"
                  id="zoomButton"
                  class="btn btn-link btn-xs sigmaControl"
                  tooltip-placement="right"
                  tooltip="Zoom"
                >
                  <span class="glyphicon glyphicon-plus"></span>
                </button>
                <button
                  type="button"
                  id="unzoomButton"
                  class="btn btn-link btn-xs sigmaControl"
                  ng-click="sigmaUnzoom()"
                  tooltip-placement="right"
                  tooltip="Dezoom"
                >
                  <span class="glyphicon glyphicon-minus"></span>
                </button>
              </div>
            </div>
            <div collapse="isCollapsed" class="vizLegendZone">
              <div class="topline"></div>
              <div class="vizLegendText">
                <h4 id="vizTitle">Institutional Affiliations of French Authors in IPCC (1988 - 2015)</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="stackedWGsByARCountryVsTotal">
        <div id="containerStackedWGsByARCountryVsTotal" class="fill-height" stackedwgsbyarcountryvstotal>
          <div id="svgContainer"></div>
          <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
          <div collapse="isCollapsed" class="vizLegendZone">
            <div class="topline"></div>
            <div class="vizLegendText">
              <h4 id="vizTitleContainer">Proportion of Author Participations in the WGs:<br/><select name="countrySelector" id="titleCountry"></select><i class="fa fa-chevron-down selectIcon"></i>compared to All IPCC</h4>
            </div>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="stackedWGsByARcaVsNonCA">
        <div id="containerStackedWGsByARcaVsNonCA" class="fill-height" stackedwgsbyarcavsnonca>
          <div id="svgContainer"></div>
          <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
          <div collapse="isCollapsed" class="vizLegendZone">
            <div class="topline"></div>
            <div class="vizLegendText">
              <h4 id="vizTitleContainer">Distribution of Author Roles in the WGs: <select name="countrySelector" id="titleCountry"></select><i class="fa fa-chevron-down selectIcon"></i></h4>
            </div>
          </div>

        </div>
      </div>
      <div class="fill-height" ng-switch-when="participationByChapters">
        <div id="containerBricks" class="fill-height" participationbychapters>
          <div id="bricksSvgContainer"></div>
          <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
          <div collapse="isCollapsed" class="vizLegendZone">
            <div class="topline"></div>
            <div class="vizLegendText">
              <h4 id="vizTitleContainer">Participation by Chapter - <select name="countrySelector" id="titleCountry"></select><i class="fa fa-chevron-down selectIcon"></i></h4>
            </div>
          </div>
        </div>
      </div>
      <div class="fill-height" ng-switch-when="ipccpeoplelines">
        <div id="peoplelines" class="fill-height overflow" ipccpeoplelines>
          <div id="lines-countries-viz"></div>
          <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
          <div collapse="isCollapsed" class="vizLegendZone">
            <div class="topline"></div>
            <div class="vizLegendText">
              <h4>National Experts and their Participation in the IPCC across ARs<br/>
              <span>Country: </span>
              <select id="lines-countries-choice"></select>
              <span>Sort by: </span>
              <select id="lines-countries-order">
                <option value="alpha">Contributors names</option>
                <option value="participations">Total contributions</option>
                <option selected="selected" value="reports">Participation to ARs</option>
                <option value="chrono">First participation</option>
              </select>
              </h4>
            </div>
          </div>
        </div>
      </div>

      <!--  =================================================================-->
      <!-- ============================= UNFCCC ============================ -->
      <!--  =================================================================-->

      <!-- ============================== Intro ============================ -->
      <div class="fill-height scrollable" ng-switch-when="UNFCCC_intro_1">
        <div class="fullWidth" ratiovertionhori="1065/1600" image>
          <img class="imgScaled imgNotScrollable" ng-src="images/UNFCCC_Intro_1.jpg">
        </div>
        <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
        <div collapse="isCollapsed" class="vizLegendZone">
          <div class="topline"></div>
          <div class="vizLegendText">
            <h4>Title to be put here</h4>
          </div>
        </div>
      </div>
      <div class="fill-height scrollable" ng-switch-when="UNFCCC_intro_2">
        <div class="fullWidth" ratiovertionhori="2372/2856" image>
          <img class="imgScaled imgNotScrollable" ng-src="images/UNFCCC_Intro_2.png">
        </div>
        <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
        <div collapse="isCollapsed" class="vizLegendZone">
          <div class="topline"></div>
          <div class="vizLegendText">
            <h4>Title to be put here</h4>
          </div>
        </div>
      </div>
      <div class="fill-height fill-width" ng-switch-when="UNFCCC_intro_3">
        <iframe class="fill-height fill-width" src="http://www.iisd.ca/vol12/"></iframe>
      </div>
      <div class="fill-height fill-width scrollable" ng-switch-when="UNFCCC_intro_4">
        <div unfccctablefour class="fill-height"></div>
        <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
        <div collapse="isCollapsed" class="vizLegendZone">
          <div class="topline"></div>
          <div class="vizLegendText">
            <h4>List of the automatically extracted terms with their different forms</h4>
            <!-- <h4> list of the manually selected terms with their forms and frequency</h4> -->
          </div>
        </div>
      </div>
      <div class="fill-height fill-width scrollable" ng-switch-when="UNFCCC_intro_5">
        <div unfccctablefive class="fill-height"></div>
        <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
        <div collapse="isCollapsed" class="vizLegendZone">
          <div class="topline"></div>
          <div class="vizLegendText">
            <h4>Tableau des termes contenus dans chacun des douze principaux clusters structurant le débat sur la négociation</h4>
          </div>
        </div>
      </div>
      <div class="fill-height scrollable" ng-switch-when="UNFCCC_intro_6">
        <div class="fullWidth" ratiovertionhori="3504/4672" image>
          <img class="imgScaled imgNotScrollable" ng-src="images/UNFCCC_Intro_6.jpg">
        </div>
        <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
        <div collapse="isCollapsed" class="vizLegendZone">
          <div class="topline"></div>
          <div class="vizLegendText">
            <h4>Title to be put here</h4>
          </div>
        </div>
      </div>
      <!-- ========================== Thematic space ======================= -->
      <div class="fill-height" ng-switch-when="enbgraph">
        <enbgraph ng-class="['fill-height', 'enbgraph']" gexf="contents/data/unfccc-the-thematic-space-of-negotiations/ENB.gexf" />
      </div>
      <!-- ====================== Trajectories of adaptation =============== -->
      <div class="fill-height fill-width" ng-switch-when="trajectoriesOfAdaptation">
        <div unfccctrajectoriesadaptation class="fill-height fill-width">
          <div id="vizContainer" class="fill-height fill-width"></div>
        </div>
        <button class="btn btn-default vizLegendButton" ng-click="isCollapsed = !isCollapsed"><i class="fa fa-chevron-circle-{{isCollapsed ? 'up': 'down'}}"></i></button>
        <div collapse="isCollapsed" class="vizLegendZone">
          <div class="topline"></div>
          <div class="vizLegendText">
            <h4>Visibility ranking of negotiation themes through COPs</h4>
          </div>
        </div>
      </div>
      <div ng-switch-default> No viz assigned here </div>
    </div>
</div>
