<div class="view-page container-fluid">
  <div top-menu class="row"></div>

  <div>
    <div id="homeImage" class="row">
      <img ng-src="images/medea_back-01.jpg" id="backHomeImage"/>
      <img ng-src="images/medea_front-01.png" id="frontHomeImage"/>
    </div>
    <div class="allButImageContainer">
      <div id="medeaDescription" class="page">
        <div sectiontoinsert sectionhtml="content.subtitle" id="homeSubtitle"></div>
        <div class="spaceBetweenParagraphs">&bull;</div>
        <div ng-repeat="section in content.sections"
             class="descriptions col-sm-6 col-md-6 col-lg-6{{$index === 0 ? ' noLeftGutter twentyPaddingRight' : ($index === 1 ? ' noRightGutter twentyPaddingLeft' : '')}}" lastngrepeat>
          <h1 sectiontoinsert sectionhtml="section.title"></h1>
          <div sectiontoinsert sectionhtml="section.html"></div>
        </div>
      </div>
      <div id="studies" class="page">
        <div class="container-fluid row studyContainer" ng-repeat="route in routes">
          <div class="spaceBetweenParagraphs noFloat">&bull;</div>
          <div>
            <div class="thumbnailStudy" id="{{route.slug}}">
              <img ng-src="images/medea2_back-01.jpg" class="backStudies">
              <img ng-src="images/medea_studies-{{route.slug}}.png" class="frontStudies">
            </div>
            <ol class="storylinesContainer">
              <li class="storyline" id="{{slData.slug}}" ng-repeat="slData in contentStudies[route.slug].menu" ng-if="slData.slug !== 'mapping-the-organizational-dynamics-of-the-ipcc' && slData.slug !== 'mapping-adaptation-in-climate-negotiations' && slData.slug !== 'countries-in-the-unfccc'">
                <div class="slImage"></div>
                <div class="slInfo">
                  <h5 class="slTitle">{{slData.title}}</h5>
                  <p sectiontoinsert sectionhtml="slData.subtitle"></p>
<!--                   <div class="exploreContainer">
                  <a ng-href="#/{{route.slug}}/{{slData.slug}}"><button class="exploreButton">Explore this story  <i class="fa fa-chevron-right"></i></button></a></div> -->
                </div>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row noFloat" footer/>
</div>
