<div class="view-page container-fluid">
  <div top-menu class="row"></div>
  <div class="allButImageContainer">
    <div id="studyIntroduction" class="page">
      <h1>{{studyIntro.title}}</h1>
      <p sectiontoinsert sectionhtml="studyIntro.subtitle"></p>
    </div>
    <div id="storyLinesContainer" class="page">
      <div class="storyline container-fluid col-sm-6 col-md-6 col-lg-6 row " ng-repeat="sl in studyIntro.menu" ng-if="sl.slug !== 'mapping-the-organizational-dynamics-of-the-ipcc'" id="container_{{sl.slug}}">
        <div >
          <a class="clickable" ng-href="#/{{storySlug}}/{{sl.slug}}">
            <div class="thumbnailSl">{{sl.slug}}</div>
          </a>
        </div>
        <div sectiontoinsert sectionhtml="sl.subtitle"></div>
      </div>
    </div>
  </div>
</div>
