
<div class="view-page">
  <!-- fixed header -->
  <header>
    <div class="row" >
      <div class="col-md-5">
        <h1>{{content.title}}</h1>
      </div>
      <div class="col-md-7">
        <p ng-bind-html="content.subtitle"></p>

      </div>
    </div>
    <div></div>
  </header>

  
  <div >
    <ul>
      <li class="active">introduction</li>
      <li>expertise</li>
      <li>coordination</li>
      <li>diversity</li>
      <li>building</li>
    </ul>

  </div>

  <div class="zeppelin" zeppelin sections="content.sections"></div>

 
  <!-- div class="row">
    <div class="col-md-7 col-md-offset-5">
      <div class="chapter-number">1.</div>
      <div class="chapter-title"><h2>This is the chapter title</h2></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5">
      <div class="menu-lateral">
        <ul>
          <li ng-repeat="section in content.sections">{{section.title}}</li>
        </ul>
      </div>
    </div>
    <div class="col-md-7">
      <div class="chapter-content">
        <section ng-repeat="section in content.sections">
          <div ng-switch="section.type">
            <div ng-switch-when="text" ng-bind-html="section.html"></div>
            <div ng-switch-default> ... </div>
          </div>
        </section>
      </div>
    </div>
  </div -->
</div>