.studyLink {
  font-weight: bold;
}
.navbar {
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  height: 60px;
  border-bottom: 2px solid #57AACE;
}

/*Allows the navbar to be height enough*/
nav .navbar-header a, nav .navbar-nav > li > a {
  line-height: 60px;
  height: 60px;
  padding-top: 0;
}
/*Put the log in the left part's center*/
.navbar-brand {
  padding-left: 60px;
  font-size: 22px;
  font-weight: 400;
  margin-top: -3px;
}
#navBarLeftPart {
  float: left;
  padding-left: 15px;
}
/*Keep the sections to the right*/
#navBarRightPart {
  float: right;
  width: 300px;
  margin-right: 45px;
  text-align: right;
}

li.active > a{
  color: #57AACE !important;
  background-color: transparent !important;
}
.singlePageLink {
  font-weight: 400;
}
.studiesMenuLink {
  color: #57AACE !important;
}
.studiesMenuLink:hover {
  color: #33616D !important;
}
